In [1]:
MyFirstList = [3, 45, 67, 789]

In [2]:
MyFirstList

[3, 45, 67, 789]

In [3]:
type(MyFirstList)

list

In [4]:
l2 = ['hello', 24, True, 55.3]

In [5]:
l2

['hello', 24, True, 55.3]

In [6]:
l3 = ['How are you?', 55, MyFirstList, l2]

In [7]:
l3

['How are you?', 55, [3, 45, 67, 789], ['hello', 24, True, 55.3]]

---

In [9]:
range(15) #Python 3 - this is the same as xrange() in Python 2

range(0, 15)

In [10]:
list (range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [11]:
x = list(range(8))

In [12]:
x

[0, 1, 2, 3, 4, 5, 6, 7]

In [15]:
y = list(range(3,8))

In [16]:
y

[3, 4, 5, 6, 7]

In [17]:
z = list (range(100,200,4))  #range(start, finish, step)

In [18]:
z

[100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196]